<ng-container *ngIf="character">
  <div class="character">
    <h2>{{ character.name }}</h2>
    <p>{{ character.description }}</p>
    <img class="character-thumbnail" [src]="imgUrl" />
  </div>
  <!-- Stories-->
  <app-details-accordion
    [title]="'Stories: ' + character.stories.returned"
    [summaryList]="storyItems"
  ></app-details-accordion>
  <!-- Series-->
  <app-details-accordion
    [title]="'Series: ' + character.series.returned"
    [summaryList]="seriesItems"
  ></app-details-accordion>

  <!-- Comics-->
  <app-details-accordion
    [title]="'Comics: ' + character.comics.returned"
    [summaryList]="comicItems"
  ></app-details-accordion>

  <!-- Events-->
  <app-details-accordion
    [title]="'Events: ' + character.events.returned"
    [summaryList]="eventItems"
  ></app-details-accordion>
</ng-container>
